#button-random-name img {
    height: 18px;
    width: 18px;
}

#createEncounterProgress {
    display: none;
}

#createEncounterFeedback {
    display: none;
    width: 100%;
}

.container-label {
    transform: rotate(90deg);
    transform-origin: left top 0;
    font-size: 20pt;
    float: inline;
}
