{% extends 'layout/base.html' %}

{% set appname = "Initiative!" %}

{% block title %}{{ name }} &ndash; Initiative{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/apps/initiative/common.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/apps/initiative/encounter.css') }}" />
{% endblock %}

{% block content %}

<data id="encounterId" value="{{ id }}"></data>

{% raw %}
<div id="app">
    <div>
        <encounter-info />
    </div>
    <div>
        <messages />
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col align-self-start">
                <encounter-toolbar />
            </div>
            <div class="col align-self-end d-flex flex-row-reverse">
                <encounter-action-bar />
            </div>
        </div>
    </div>
    <div>
        <add-participant-dialog />
    </div>
    <div>
        <delete-participant-dialog />
    </div>
        <div>
            <edit-participant-dialog />
        </div>
        <div>
            <edit-participant-order-dialog />
        </div>
        <div>
            <collect-initiative-dialog />
        </div>
    <p/>
    <div>
        <encounter-participant-list v-on:update-participant-list="updateList"
                                    v-on:choose="chooseParticipant" />
    </div>
</div>
{% endraw %}
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/axios/axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/vue/vue.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/vue/vuex.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/sortable/sortable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/vue/vuedraggable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/apps/initiative/common.js') }}"></script>
<script src="{{ url_for('static', filename='components/Messages.js') }}"></script>
<script src="{{ url_for('static', filename='components/initiative/GroupSelectorItem.js') }}"></script>
<script src="{{ url_for('static', filename='components/initiative/GroupSelectorList.js') }}"></script>
<script src="{{ url_for('static', filename='components/initiative/encounter/ActionBar.js') }}"></script>
<script src="{{ url_for('static', filename='components/initiative/encounter/Toolbar.js') }}"></script>
<script src="{{ url_for('static', filename='components/initiative/encounter/CollectInitiativeDialog.js') }}"></script>
<script src="{{ url_for('static', filename='components/initiative/encounter/EncounterInfo.js') }}"></script>
<script src="{{ url_for('static', filename='components/initiative/encounter/AddParticipantDialog.js') }}"></script>
<script src="{{ url_for('static', filename='components/initiative/encounter/DeleteParticipantDialog.js') }}"></script>
<script src="{{ url_for('static', filename='components/initiative/encounter/EditParticipantDialog.js') }}"></script>
<script src="{{ url_for('static', filename='components/initiative/encounter/EditParticipantOrderDialog.js') }}"></script>
<script src="{{ url_for('static', filename='components/initiative/encounter/Participant.js') }}"></script>
<script src="{{ url_for('static', filename='components/initiative/encounter/ParticipantList.js') }}"></script>
<script src="{{ url_for('static', filename='js/apps/initiative/encounter.js') }}"></script>
{% endblock %}
