{% extends 'layout/base.html' %}

{% set appname = "Initiative!" %}

{% block title %}{{ name }} &ndash; Initiative{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/apps/initiative/common.css" />
<link rel="stylesheet" type="text/css" href="/static/css/apps/initiative/encounter.css" />
{% endblock %}

{% block content %}

<data id="encounterId" value="{{ id }}"></data>

{% raw %}
<div id="app">
    <div>
        <encounter-info />
    </div>
    <div>
        <messages />
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col align-self-start">
                <encounter-toolbar />
            </div>
            <div class="col align-self-end d-flex flex-row-reverse">
                <encounter-action-bar />
            </div>
        </div>
    </div>
    <div>
        <add-participant-dialog />
    </div>
    <div>
        <delete-participant-dialog />
    </div>
        <div>
            <edit-participant-dialog />
        </div>
        <div>
            <edit-participant-order-dialog />
        </div>
        <div>
            <collect-initiative-dialog />
        </div>
    <p/>
    <div>
        <encounter-participant-list v-on:update-participant-list="updateList"
                                    v-on:choose="chooseParticipant" />
    </div>
</div>
{% endraw %}
</div>

{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script src="https://unpkg.com/vuex@3.1.2/dist/vuex.js"></script>
<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
<script src="/static/js/apps/initiative/common.js"></script>
<script src="/static/components/Messages.js"></script>
<script src="/static/components/initiative/encounter/ActionBar.js"></script>
<script src="/static/components/initiative/encounter/Toolbar.js"></script>
<script src="/static/components/initiative/encounter/CollectInitiativeDialog.js"></script>
<script src="/static/components/initiative/encounter/EncounterInfo.js"></script>
<script src="/static/components/initiative/encounter/AddParticipantDialog.js"></script>
<script src="/static/components/initiative/encounter/DeleteParticipantDialog.js"></script>
<script src="/static/components/initiative/encounter/EditParticipantDialog.js"></script>
<script src="/static/components/initiative/encounter/EditParticipantOrderDialog.js"></script>
<script src="/static/components/initiative/encounter/Participant.js"></script>
<script src="/static/components/initiative/encounter/ParticipantList.js"></script>
<script src="/static/js/apps/initiative/encounter.js"></script>
{% endblock %}
