{% extends 'layout/base.html' %}

{% set appname = "Initiative!" %}

{% block title %}Initiative{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/apps/initiative/common.css" />
    <link rel="stylesheet" href="/static/css/apps/initiative/main.css" />
{% endblock %}

{% block content %}

<div class="btn-group" role="group">
    <button id="btnGroupCreate" type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-plus-square"></i>
    Create
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupCreate">
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#createEncounterDialog">Encounter</a>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#createGroupDialog">Group</a>
    </div>
</div>

{% raw %}
<div id="app">
    <div>
        <create-encounter-dialog />
    </div>
    <div>
        <create-group-dialog />
    </div>
    <div>
        <encounter-list />
    </div>
</div>
{% endraw %}
</div>

{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script src="https://unpkg.com/vuex@3.1.2/dist/vuex.js"></script>
<script src="/static/js/apps/initiative/common.js"></script>
<script src="/static/components/initiative/CreateEncounterDialog.js"></script>
<script src="/static/components/initiative/CreateGroupDialog.js"></script>
<script src="/static/components/initiative/EncounterItem.js"></script>
<script src="/static/components/initiative/EncounterList.js"></script>
<script src="/static/js/apps/initiative/main.js"></script>
{% endblock %}
